body {
    background-color: #f8f9fa; /* Warna latar belakang ringan */
}

.navbar-brand {
    font-weight: bold;
    color: #01070c; /* Warna biru untuk brand */
}

.card {
    border-radius: 0.75rem; /* Sudut melengkung */
    border: none;
}

.table thead {
    background-color: #007bff;
    color: white;
}